footer{
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0;    
    width: 100%;
    padding: 1rem;
    height: normal;
    line-height: normal; */
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    background-color: black;
    color: white;
}